<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Bitcoin Rates </title>
</head>
<body>
    <form action="/" method="post">
      
        <select name="country">
            <option value ="Latvia">Latvia</option>
            <option value ="Lithuania">Lithuania</option>
            <option value ="Estonia">Estonia</option>
             
        </select>
        <button type="submit">Show Country Data</button>
        
    </form>
    
</body>
</html>